:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
 box-sizing: border-box; 
}

#root{
  min-height: 100 vh;
  display:flex;
  display: relative;
}

.imgContainer {
  display: flex;
  flex-direction: column;
}
.backgroundimg{
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;

}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

footer h2{

font-size: 1rem;

}

fotter div{

  display: flex;
  flex-direction: column;
 
}
footer h1{

  font-size: 0.9rem;
  font-weight: 200;
}

footer button{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding :1 rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button i{
 font-size: 1.3 rem;


}
footer button :hover{
  opacity: 0.5;

}

.back{
  display:grid;
  inset:0;
   z-index:-1;
  background:-o-linear-gradient(to top,#030615,rgba(255,255,255,0));
}


.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.6;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: #000813;
}

.sidebarContents h2 {
  font-weight: 500;
  font-size: 1.6rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.sidebarContents div {
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem 0;
 
}

.sidebarContents button:hover {
  opacity: 0.7;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
}
.loadingState  i{

  opacity: 0.1;
  font-size: 3rem;
  animation: spin 1s linear infinite;

}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideBarContents button :hover{
  opacity: 0.5;
}



@media (min-width: 640px) {
  .sideBar {
    margin: unset;
    inset: unset;
    min-width: 40px;
     
      max-height: 100vh;
    
      box-shadow: 0 0 40px 1px #030615;

      
  }

  .sideBarContents {
    margin: unset;
    width:100% ;

  }
} 

